body {
    font-family: "Dosis", Helvetica, sans-serif;
    background-image: url("theater-curtains.jpg");
}

header {
    width: 100%;
    height: 100px;
    color: white;
    
}

h1 {
    color: white;
    font-weight: bolder;
}

header h1 {
    font-weight: 600;
    font-size: 3rem;
    margin-top: 15px;
}

.poster-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-around;
    justify-content: space-evenly;
    align-items: center; */
}

.tile {
    /* box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius: 10px;

    /* Text */
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    /* background-color: #787c7e; */
    color: white;
    border-color: white;
}

.btn-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#answer {
    font-size: 2rem;
    font-weight: 400;
}

.quote {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(54, 20, 221);
}

 #poster {
    filter: blur(15px);
}
#first {
    filter: blur(0px);
}





