body {
    font-family: "Dosis", Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100px;
}

header h1 {
    font-weight: 600;
    font-size: 3rem;
    margin-top: 15px;
}

.poster-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.tile {
    /* box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius: 10px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787c7e;
    color: white;
    border-color: white;
}

.btn-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.start-btn {
    background-color: rgb(62, 232, 90);
    color: azure;
    border: none;
    text-decoration: none;
    height: 50px;
    width: 175px;
    border-radius: 15px;
    font-weight: 700;
}

.start-btn:hover {
    background-color:rgb(45, 147, 62);
    transition: 0.2s;
  }

.reset-btn {
    background-color: rgb(232, 62, 62);
    color: azure;
    border: none;
    text-decoration: none;
    height: 50px;
    width: 125px;
    border-radius: 15px;
    font-weight: 700;
}

.reset-btn:hover {
    background-color:rgb(127, 50, 50);
    transition: 0.2s;
  }

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#answer {
    font-size: 2rem;
    font-weight: 400;
}

.quote {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(54, 20, 221);
}



